{% extends './base.html' %}

{% load static %}

<!-- ДОП СТИЛИ -->

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/answer_list.css' %}">
{% endblock %}

<!--ОТВЕТЫ-->

{% block answers %}
    <!-- СПИСОК ВОПРОСОВ -->

    <section class="answer_list">
        <div class="container">
            <h2 class="answer_list__header"> СПИСОК ВОПРОСОВ </h2>
            <div class="answer_list__block">
                {% for achieve in achieves_obj %}
                <a href="{{ achieve.get_absolute_url }}" class="answer_link nav-link answer_list__link" style="color: blue; font-weight: bold">
                    <div class="p-0 m-0" style="display: flex; align-items: start">
                        <h4>{{achieve.number}}.</h4>
                        <h4>{{achieve.name_question|safe}}</h4>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block pagination %}
    <!-- ПАГИНАЦИЯ -->

    <div class="my_paginator">
        <nav aria-label="Paginate me">
          <ul class="pagination justify-content-center">

            <!-- Предыдущий маркер -->

            {% if page_obj.has_previous %}
                <!-- Доступная ссылка на предыдущую страницу-->
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
            {% else %}
                <!-- НЕдоступная ссылка на предыдущую страницу - disabled -->
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#" tabindex="-1">Предыдущая</a>
                </li>
            {% endif %}

            <!-- page_range - диапазон страниц (1, 4) -->
            {% for i in page_obj.paginator.page_range %}
                <!-- number - текущая страница -->
                {% if i == page_obj.number %}
                    <!-- Активная текущая страница - active-->
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <!-- НЕАктивная текущая страница-->
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            <!-- Следующий маркер -->

            {% if page_obj.has_next %}
                <!-- Доступная ссылку на предыдущую страницу-->
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
            {% else %}
                <!-- НЕдоступная ссылку на предыдущую страницу - disabled -->
                <li class="page-item disabled">
                    <a class="page-link" href="#">Следующая</a>
                </li>
            {% endif %}
          </ul>
        </nav>
     </div>

{% endblock %}

{% block extrasection %}
    <!--ПЕЧАТНЫЕ ОТВЕТЫ-->

    <section class="printed_answer">
        <div class="container">
            <div class="printed_answer__block">
                <h3 class="printed_answer__header">Печтные ответы Антонюк</h3>
                <a class="btn btn-primary btn-lg printed_answer__btn" type="button" href="/media/exam_lection_Antonyuk.pdf">Cкачать Печатные Ответы</a>
                <a href="https://disk.yandex.ru/i/_TYmwLE4lYDwmg" class="answer_link nav-link active printed_answer__link">Резервная ссылка на яндекс диск</a>
            </div>
        </div>
    </section>
{% endblock %}