/* ОТВЕтЫ АНТОНЮК */

.answer_list{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aba9a9;
    background-color: rgba(255,255,255,0.8);
}

.answer_list:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*opacity: 0.6;*/
    background-image: url('../img/bg_study.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.answer_list__header{
    font-family: Montserrat, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 20px 0;
}

.answer_list__block{
    padding: 10px 0 10px 0;
}

.answer_list__link{
    font-family: Montserrat, serif;
    font-size: 18px;
}

/* ПЕЧАТНЫЕ ШПОРЫ */

.printed_answer{
    position: relative;
    padding: 20px 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aba9a9;
    background-color: rgba(255,255,255,0);
}

.printed_answer:after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*opacity: 0.6;*/
    background-image: url('../img/bg_bloe.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.printed_answer__block{
     display:flex;
    flex-direction: column;
    align-items:  center;
    margin: 10px 0 10px 0;
}

.printed_answer__link{
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: black;
}

/* ПАГИНАЦИЯ */
.my_paginator{
    padding: 20px 0 20px 0;
}



/* МЕДИА ЗАПРОСЫ */
@media (max-width: 575px) {  /* если меньше 575*/
}
@media screen and (max-width: 990px) { /* если меньше 1200*/
}
@media (max-width: 990px) { /* если меньше 990*/
}
@media (max-width: 770px) { /* если меньше 770*/

}

