{% extends './base.html' %}

{% load static %}


<!--МОИ СТИЛИ-->

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/answer.css' %}">
{% endblock %}


<!--ОТВЕТЫ-->

{% block answers %}

<!--ОТВЕТЫ 1 БИЛЕТ-->

<section class="answer">
    <div class="answer_container container">
        <h2 class="answer_header" style="display: flex; text-align: center; justify-content: center; padding: 20px 0 0 0;">
            {{answer.number}}.
            {{answer.name_question|safe}}
        </h2>

        <div class="answer_text">
            {{answer.answer|safe}}
        </div>
    </div>
</section>

{% endblock %}