{% extends './base.html' %}

{% load static %}

<!--ОТВЕТЫ-->

{% block answers %}

<section class="antonuk">

    <h2 class="header"> ТУТ ЗАГОЛОВОК ОТВЕТОВ НА ВОПРОСЫ </h2>

    <div class="block_answers">
        <div>
            {% for achieve in achieves_obj %}
            <a href="{% url 'answer_detail' achieve.number %}" class="answer_link nav-link active">
                <div style="display: flex;">
                    <h4>{{achieve.number}}.</h4>
                    <h4>{{achieve.name_question|safe}}</h4>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}