<!--ОБЩИЙ ШАБЛОН ДЛЯ ОТВЕТА-->

{% extends 'badphilosopher/base.html' %}

{% load static %}

<!-- ДОП СТИЛИ -->

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment_form.css' %}">
{% endblock %}

<!-- НАЗВАНИЕ СТРАНИЦЫ -->

{% block title %}
Обратная связь
{% endblock %}

<!-- ОБРАТНАЯ СВЯЗЬ -->

{% block answers %}
<section class="contact">
    <div class="contact__container container pb-3 pt-3">
        <div class="contact__intro">

            <h2 class="contact__intro__header text-center pt-2 pb-2"> Страница для отзывов и предложений </h2>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    На данной странице вы можете оставить отзыв о моей работе.
                </li>
                <li class="list-group-item">
                    Если вы нашли ошибку в тексте или у вас есть предложения по улучшению сайта, пожалуйста
                    напишите мне об этом с помощью формы ниже.
                </li>
                <li class="list-group-item">
                    Заранее спасибо!
                </li>
            </ul>

            <p class="contact__intro__text">
            </p>

        </div>

        <div class="contact__form">
            <h2 class="contact__form__header text-center pt-2 pb-2"> Напишите свой отзыв здесь: </h2>

            <form action="{% url 'comment_form' %}" method="post">
                <div class="row g-3">

                    <div class="contact__form__purpose col-12">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1" style="">Тип сообщения:</span>
                          {{ form.purpose }}
                        </div>
                    </div>

                    <div class="contact__form__name col-md-6">
                        <div class="form-floating">
                            {{ form.name }}
                            <label for="floatingEmail">Вашe Имя</label>
                        </div>
                    </div>

                    <div class="contact__form__email col-md-6">
                        <div class="form-floating">
                            {{ form.email }}
                            <label for="floatingName">Ваша почта</label>
                        </div>
                    </div>

                    <div class="contact__form__message col-12">
                        <div class="form-floating">
                            {{ form.message }}
                            <label for="floatingText">Напишите сообщение</label>
                        </div>
                    </div>

                    <div class="contact__form__btn col-12 d-grid gap-2">
                        <div class="">
                            <span class="d-block p-2 text-center" id="" style="background: #e9ecef;font-weight: bold; ">Пожалуйста заполните капчу</span>
                            {{ form.captcha.errors }}
                            <div class=" d-flex flex-row pt-1">
                                {{ form.captcha }}
                                <button class='captcha-refresh btn' style="background: #e9ecef">Refresh</button>
                            </div>
                        </div>
                    </div>

                    {% csrf_token %}
                    <div class="contact__form__btn col-12 d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg" value="Submit">Отправить</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'js/comment_form.js' %}"></script>
</section>
{% endblock %}