<!--ОБЩИЙ ШАБЛОН ДЛЯ ОТВЕТА-->

{% extends 'badphilosopher/base.html' %}

{% load static %}

<!-- ДОП СТИЛИ -->

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/success.css' %}">
{% endblock %}

<!-- НАЗВАНИЕ СТРАНИЦЫ -->

{% block title %}
Успех
{% endblock %}

    <!-- УСПЕШНАЯ ОТПРАВКА -->

{% block answers %}

    <section class="success_from">
        <div class="success_from__container container text-center pt-5">
            <h1 class="success_from__text slider__text_big">Спасибо за отзыв!</h1>
            <div class="success_from__link">
                <a href="{% url 'main_page' %}" class="" >Вернуться на главную</a>
            </div>
        </div>
    </section>
{% endblock %}